<body style="background-color:rgb(116, 225, 240);">

    <h1> WELCOME: To the CU Boulder Basketball Courts. Want to be as good as Lebron James?</h1>
    Just kidding...  
    <h1>Reserve a court here!</h1>
    <h2><u>Enter Number of Players. Type "1" if you are playing solo.</u></h2>
    
    <form method="POST"  action="/courts1/search/">
        {% csrf_token %}
        <input type="text" name="first">
        <button type="submit">Upload Players!</button>
        </form>
    
    
    </body>
    
    
    